#emailVerificationControl_but_send_code{
    width: 100%;
    background: white;
    margin: 8px 0 8px 0px;
    border: solid 1px #1D2E40;
    color: #1D2E40;
    background: white;
    border-radius: 4px;
    height: 44px;
    border-radius: 4px;
    font-weight: 600;
}
#emailVerificationControl_but_send_code:hover{
    background: #b5cae0;
}
.helpLink{
    display: none !important;
}
.textInput{
    height: 40px;
    border: solid 1px #dddddd;
    border-radius:4px ;
    margin: 8px 0 8px 0;
}
input[type=email], input[type=number], input[type=password], input[type=text]{
    height: 40px;
}

#continue{
    width: calc(50% - 8px);
    height: 40px;
    border-radius: 4px;
    font-weight: 500;
}
#cancel{
    height: 40px;
    width: calc(50% - 8px);
    background-color: white;
    border-radius: 4px;
    font-weight: 500;
    color: #1D2E40;
}
.intro{
    font-size: 1.1em;
    color: #424242;
    font-weight: 600;
    font-weight: bold;
}
#attributeList{
    height: 208px;
    overflow: hidden;
    overflow-y: scroll;
}

.error{
    color: #E11451;
}


